body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1168px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:620px;
  background:inherit;
  background-color:rgba(52, 73, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 73, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#F2F2F2;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:207px;
  height:620px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#F2F2F2;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:166px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:257px;
  width:179px;
  height:166px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
  text-align:left;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:209px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:209px;
  display:flex;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:2px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:69px;
  width:961px;
  height:1px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:11px;
  width:180px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:404px;
  width:207px;
  height:425px;
}
#u415_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:425px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:425px;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:207px;
  height:80px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:83px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:207px;
  height:83px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:86px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:207px;
  height:86px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:86px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:331px;
  width:207px;
  height:86px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:81px;
  width:207px;
  height:140px;
  visibility:hidden;
}
#u422_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:140px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:140px;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:70px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:70px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:70px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:207px;
  height:70px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:161px;
  width:207px;
  height:116px;
  visibility:hidden;
}
#u426_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:116px;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:58px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:58px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:58px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:207px;
  height:58px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:245px;
  width:207px;
  height:172px;
  visibility:hidden;
}
#u430_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:172px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:172px;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:86px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:86px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:86px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:207px;
  height:86px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:340px;
  width:300px;
  height:170px;
  display:flex;
  font-size:30px;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
